# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg

# Build
dist/
build/
*.spec

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
.mypy_cache/
.pytest_cache/

# Project sessions
*.colsession
